* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    width: calc(60px * 6);
    height: calc(60px * 6);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 56px;
    height: 56px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black {
    background: steelblue;
    border-color: steelblue;
}
.white {
    background: beige;
    border-color: beige;
}

.active {
    border: 2px solid crimson;
}
.active-player {
    padding: 20px 0;
    font-family: Arial, sans-serif;
    color: #274965;
    font-style: italic;
    font-size: 20px;
}
